h1 {
  color : blue;
}

#blue {
  color: green;
  font-family:fantasy;
}

#red {
  color: red;
  text-decoration: underline;
}

.center-list {
  padding: 30px;
  text-align: center;
}

ul {
  text-decoration: none;
  color: purple;
}
