/* make all h1 elements blue */
h1 {
  color : blue;
}

/* my tags */
#blue {
  color: green;
  font-family:fantasy;
}

#red {
  color: red;
  text-decoration: underline;
}

/* example class */
.center-list {
  padding: 30px;
  text-align: center;
}

/* example making all ul elements be purple
but showing that the #blue and #red ids
override the purple color */
ul {
  text-decoration: none;
  color: purple;
}

/* format all my dog images the same */
img.dog {
  width: 300px;
}
